<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<section class="detail">
  <h2><%=object.title%></h2>
  <p>Auteur: <%=object.author%></p>
  <p>Samenvatting: <%=object.description%></p>
  <p>Subject: <%=object.subject%></p>


</section>


<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>
