html {
  margin: 2em;
  text-align: center;
}

body {
  font-family: avenir;
  max-width: 50em;
  margin: 0 auto;
}

header {
  margin: 4em 0;
}

h1 {
  font-weight: 800;
}

img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.books {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin: auto;
}

article {
  background-color: #f4f4f4;
  width: 10em;
  margin-right: 1em;
  margin-bottom: 2em;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

article h2 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.genres a {
  //  background-image: linear-gradient(45deg, #94b447, #5d6e1e);
  background-color: #94b447;
  padding: 0.5em 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 10em;
  transition: all 0.2s;
  flex-grow: 1;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.genres a:hover {
  transition: all 0.2s;
  transform: scale(1.2);
  background-color: #5d6e1e;
  color: white;
}
